.hero {

  width: 100%;

  min-height: 650px;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  position: relative;

  transition:
    background-image 1s ease-in-out;

}


/* DARK OVERLAY */

.overlay {

  width: 100%;

  min-height: 650px;

  background:
    linear-gradient(
      90deg,
      rgba(0,0,0,.75),
      rgba(0,0,0,.45),
      rgba(0,0,0,.20)
    );

  display: flex;

  align-items: center;

  position: relative;

}


/* HERO CONTENT */

.hero-content {

  width: 90%;

  max-width: 1200px;

  margin: auto;

}


.hero-text {

  max-width: 650px;

  color: white;

}


.hero-text h1 {

  font-size: 60px;

  line-height: 1.1;

  margin-bottom: 25px;

  font-weight: 700;

}


.hero-text h1 span {

  color: #0b7d45;

}


.hero-text p {

  font-size: 19px;

  line-height: 1.7;

  max-width: 580px;

  margin-bottom: 35px;

  color: #f1f1f1;

}


.hero-text button {

  border: none;

  background: #0b7d45;

  color: white;

  padding: 15px 35px;

  border-radius: 8px;

  font-size: 17px;

  font-weight: 600;

  cursor: pointer;

  transition: .3s ease;

}


.hero-text button:hover {

  background: #086237;

  transform: translateY(-2px);

}


/* =========================================
   SLIDER DOTS
========================================= */

.hero-dots {

  position: absolute;

  bottom: 35px;

  left: 50%;

  transform: translateX(-50%);

  display: flex;

  gap: 10px;

  z-index: 5;

}


.hero-dots .dot {

  width: 11px;

  height: 11px;

  padding: 0;

  border: none;

  border-radius: 50%;

  background: rgba(255,255,255,.55);

  cursor: pointer;

  transition: .3s ease;

}


.hero-dots .dot.active {

  width: 30px;

  border-radius: 10px;

  background: #0b7d45;

}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

  .hero,
  .overlay {

    min-height: 580px;

  }


  .hero-text h1 {

    font-size: 48px;

  }


  .hero-text p {

    font-size: 17px;

  }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 600px) {

  .hero,
  .overlay {

    min-height: 560px;

  }


  .hero {

    background-position: center;

  }


  .overlay {

    background:
      linear-gradient(
        90deg,
        rgba(0,0,0,.78),
        rgba(0,0,0,.55)
      );

  }


  .hero-content {

    width: 90%;

  }


  .hero-text {

    max-width: 100%;

  }


  .hero-text h1 {

    font-size: 40px;

  }


  .hero-text p {

    font-size: 16px;

    line-height: 1.6;

  }


  .hero-text button {

    padding: 14px 30px;

    font-size: 16px;

  }


  .hero-dots {

    bottom: 25px;

  }

}

.hero-text button:hover{

    background:#086237;
}

.hero-image{

    width:50%;
    display:flex;
    justify-content:flex-end;
}

.hero-image img{

    width:100%;
    max-width:700px;
}